@import 'global';

.header-text {
    position: absolute;
    left: 0;
    top: 0;

    margin-left: 10%;
    margin-top: 45%;
    color: white;
}

.about-img {
    display: inline;
    width: 50%;
    float: right;
}
