@import 'global';

.splash-page {
    background-image: url();
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 100vh;

    padding-left: 5%;
}

.splash-page-headline {
    padding-top: 30vh;

    color: white;
}

.splash-page-button {
    position: absolute;
    right: 5%;
    top: 70%;

    @media (max-width: $mobile-width) {
        top: 90%;
        height: 15vh;
    }
}
