<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <center><img src='<%= @logo %>' /></center>

        <center>
            <div class='body'>
                <%= @body %>
            </div>
        </center>
    </body>
</html>