.overlayActionsLeft {
    position: fixed;
    bottom: 1%;
    left: 1%;
    z-index: 9999;
}

.overlayActionsLeft .overlayActionIcon {
    margin-right: 1%;
}

.overlayActionsRight {
    position: fixed;
    bottom: 1%;
    right: 1%;
    width: 125px;
    z-index: 9999;

    display: inline-block;
    text-align: right;
}

.editContentWrapper {
    position: absolute;
    z-index: 9999;
    padding: 1%;

    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #BBB;
}

.edit-content-button {
    float: right;
    margin-top: 20%;
}

.menu-item-link {
    text-decoration: none;
    color: #212121; // TODO: Get a matching color
}
