@import 'theme';

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 3%;
    background-color: $mdc-theme-primary;
    color: white;
    text-align: center;
}

.footer .link-holder {
    width: 100%;
    padding-top: 3%;
    text-align: center;
}

.footer .link {
    color: white;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
}

.footer .link:hover {
    color: rgba(255, 255, 255, 0.5);
}
