@import 'theme';

$mobile-width: 768px;

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    position: relative;
}

.content {

}

.content-5 {
    margin-left: 5%;
    margin-right: 5%;
}

.content-10 {
    margin-left: 10%;
    margin-right: 10%;

    @media (max-width: $mobile-width) {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.content-15 {
    margin-left: 15%;
    margin-right: 15%;

    @media (max-width: $mobile-width) {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.content-20 {
    margin-left: 20%;
    margin-right: 20%;

    @media (max-width: $mobile-width) {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.content-25 {
    margin-left: 25%;
    margin-right: 25%;

    @media (max-width: $mobile-width) {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@mixin parallax($image) {
    background-image: url($image);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.button {
    font-family: $button-font-family;
    font-size: $button-font-size;
}

%link-shared {
    font-family: $button-font-family;
    font-size: $button-font-size;
    color: $link-color;
}

%link-hover-shared {
    color: $link-hover-color;
}

.link {
    @extend %link-shared;
}

.link:hover { 
    @extend %link-hover-shared;
}

.unstyled-link {
    text-decoration: none;
    color: black;
}

.link-small {
    @extend %link-shared;

    font-size: 18px;
}

.link-small:hover { 
    @extend %link-hover-shared;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-size: 20px;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 1%;
}

thead {
    background-color: #cccccc;
}

.selectable-header {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.selectable-row {
    cursor: pointer;
}

.selectable-row:hover {
    background-color: #e5e5e5;
}
