@import 'theme';

$mobile-width: 768px;

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    position: relative;
}

.content {
    margin-top: 5%;
}

@mixin parallax($image) {
    background-image: url($image);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.button {
    font-family: $button-font-family;
    font-size: $button-font-size;
}

%link-shared {
    font-family: $button-font-family;
    font-size: $button-font-size;
    color: $link-color;
}

%link-hover-shared {
    color: $link-hover-color;
}

.link {
    @extend %link-shared;
}

.link:hover { 
    @extend %link-hover-shared;
}

.link-small {
    @extend %link-shared;

    font-size: 18px;
}

.link-small:hover { 
    @extend %link-hover-shared;
}

.approved-by {
    text-align: center;
    color: $link-hover-color;
    border: $link-hover-color solid 1px;
    display: inline-block;
    padding: 0.5%;
    font-size: 12px;
    text-transform: uppercase;
}

.icon-row {
    text-align: center;
    padding-top: 2%;
}

.icon-cell {
    padding-left: 1%;
    padding-right: 1%;
    color: white;
}

.privacy-blurb {
    padding-left: 15%;
    padding-right: 15%;
}

.media-kit {
    padding-left: 15%;
    padding-right: 15%;
}

.media-photo {
    width: 100%;
    height: auto;
}

.short-bio {
    padding-left: 15%;
    padding-right: 15%;
}

.map-container {
    @media (max-width: $mobile-width) {
        margin-bottom: 30vh;
    }
}

.map {
    padding-left: 5%;
    width: 60%;

    @media (max-width: $mobile-width) {
        width: 90%;
        padding-right: 5%;
    }
}

.map-blurb {
    width: 30%;
    float: right;

    @media (max-width: $mobile-width) {
        width: 100%;
        float: left;
        padding-top: 3%;
        padding-left: 3%;
    }
}

.signInForm {
    padding-left: 3%;
    padding-right: 40%;
    padding-bottom: 3%;

    @media (max-width: $mobile-width) {
        padding-left: 3%;
        padding-right: 3%;
    }
}

.checkboxLabel {
    position: absolute;
    padding-top: 1vh;
}

.edit-raw-content {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5%;
}

.edit-raw-content-button {
    margin-left: 3%;
}
