.icon-cell:hover {
    color: #cccccc;
}

.join-card {
    min-height: 300px;
}

.join-media {
    padding-right: 3%;
    padding-left: 3%;
}

.card-title {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.slideshow {
    padding-left: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.slideshow-image {
    object-fit: cover;
    width: 100%;
    height: 60vh;
}

.final-panel {
    position: relative;
    width: 100%;
}

.background-image {
    object-fit: cover;
    width: 100%;
    height: auto;
    z-index: -1;
}

.final-panel-content {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 20%;
    text-align: center;
}

.final-panel-color {
    color: white;
    background-color: rgba(0, 66, 124, 0.85);
}

.final-panel-background {
    display: inline-block;
    padding: 1% 0.5%;
}

.final-panel-actions .button {
    margin: 5%;
}