@import 'global';

.icon-cell:hover {
    color: #cccccc;
}

@media all and (min-width: 768px) {
    .join-card-root {
        position: absolute;
        top: 13%;
        right: 3%;
        width: 35%;
    }
}

.join-card-root {
    position: absolute;
    top: 13%;
    right: 3%;

    @media (min-width: $mobile-width) {
        width: 35%;
    }

    @media (max-width: $mobile-width) {
        left: 3%;
        top: 15%;
    }
}

.join-card {
    min-height: 300px;
    padding: 3%;
}

.card-title {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.slideshow {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.slideshow-image {
    object-fit: cover;
    width: 60%;
    height: 60vh;
    display: inline-block;

    @media (max-width: $mobile-width) {
        width: 100%;
    }
}

.slideshow-blurb {
    padding-left: 5%;
    width: 35%;
    float: right;

    @media (max-width: $mobile-width) {
        width: 100%;
        padding-top: 10%;
        padding-left: 0;
        float: none;
    }
}
