@import 'global';

.join-team-panel {
    position: relative;
    width: 100%;
}

.join-team-panel-content {
    position: absolute;
    top: 0;
    width: 100%;

    height: 0px;
    margin-top: 5%;
    margin-bottom: 30%;
    padding-top: 10%;
    text-align: center;

    @media (max-width: $mobile-width) {
        padding-top: 20vh;
        padding-bottom: 40vh;
    }
}

.join-team-panel-image {
    background-image: url();
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 100vh;
}

.join-team-panel-color {
    color: white;
    background-color: rgba(0, 66, 124, 0.85);
}

.join-team-panel-title {
    display: inline-block;
    padding: 1% 0.5%;
}

.join-team-panel-actions .button {
    margin: 5%;
}

.join-team-panel-content .button {
    width: 150px;
    height: 75px;
}
