@import 'global';

.join-team-panel {
    position: relative;
    width: 100%;
}

.join-team-panel-content {
    @include parallax('');

    height: 0px;
    margin-top: 5%;
    padding-top: 15%;
    padding-bottom: 20%;
    text-align: center;
}

.join-team-panel-color {
    color: white;
    background-color: rgba(0, 66, 124, 0.85);
}

.join-team-panel-background {
    display: inline-block;
    padding: 1% 0.5%;
}

.join-team-panel-actions .button {
    margin: 5%;
}

.join-team-panel-content .button {
    width: 150px;
    height: 75px;
}
