@import 'global';

.header-text {
    position: absolute;
    left: 0;
    top: 0;

    margin-left: 10%;
    margin-top: 45%;
    color: white;
}

.about {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;

    @media (max-width: $mobile-width) {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.about img {
    display: inline;
    width: 50%;
    float: right;
}
