.header-text {
    position: absolute;
    left: 0;
    top: 0;

    margin-left: 10%;
    margin-top: 45%;
    color: white;
}

.about {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

.about-image {
    display: inline;
    width: 50%;
    float: right;
}
