@import 'global';

.navbar {
    position: absolute;
    top: 0;

    @media (min-width: $mobile-width) {
        padding: 4% 5% 5%;
        width: 90%;
    }

    @media (max-width: $mobile-width) {
        height: 75px;
    }
}

.navbar-hidden {
    display: none;
}

.navbar-image {
    float: left;
    width: 225px;
    height: auto;

    border: 4px solid white;

    @media (max-width: $mobile-width) {
        margin-top: -20px;
        margin-left: 15px;
        width: 75px;
        border: 1px solid white;
    }
}

.navbar-menu-icon {
    @media (max-width: $mobile-width) {
        margin-top: 10px;
    }
}

.navbar-actions {
    text-align: right;
}

.navbar-action {
    margin-right: 3%;
}

.navbar-actions .mdc-button {
    color: white;
}

.navbar .link {
    color: white;
    text-decoration: none;
}

.navbar .link:hover {
    color: #cccccc;
}

.navbar .inverted-link {
    color: #4c4c4c;
}

.navbar .inverted-link:hover {
    color: #7f7f7f;
}
