@import 'global';

.navbar {
    padding: 4% 5% 5%;
}

.navbar-image {
    position: absolute;
    text-align: left;
    width: 225px;
    height: auto;

    border: 4px solid white;
}

.navbar-actions {
    text-align: right;
    vertical-align: center;
}

.navbar-actions .mdc-button {
    color: white;
}

.navbar-actions .button-cell {
    padding-top: 0.5%;
}

.navbar .link {
    color: white;
    text-decoration: none;
}

.navbar .link:hover {
    color: #cccccc;
}

.header-image {
    @include parallax('https://static1.squarespace.com/static/598dd363a5790a4026dac8ab/t/59cd9e5032601e2e1011ec17/1506647684440/Seth-headshot-smile.jpg?format=2500w');
    height: 100%;
    padding-bottom: 40%;
}
