.panel {
    width: 100%;
}

.panel-headline {
    text-align: center;
}

.volunteer-panel {
    width: 90%;
    margin: 5%;
    margin-bottom: 20vh;
}

.panel-preview-editor {
    position: relative;
    width: 100%;
}

.panel-preview {
    display: inline-block;
    width: 70%;

    border: 2px dashed;
    border-color: #BDBDBD;
}

.panel-preview-sidebar {
    display: inline-block;
    width: 27%;
    margin-left: 2%;

    vertical-align: top;
}

.toolbar-item {
    width: 10%;
    text-align: center;

    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.toolbar-item:hover {
    background-color: #EEEEEE;
}

.middle-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    margin-right: -50%;

    transform: translate(-50%, -50%);
}

.panel-row {
    position: relative;
    width: 100%;

    border: 1px dashed;
    border-width: 1px 0 1px 0;
    border-color: #2196F3;
}

.panel-row-selected-resizable {
    resize: vertical;
    overflow: auto;
}

.panel-row-selected {
    background-color: #F5F5F5;

    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
