@import 'global';

.sign-up {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 25%;
    text-align: center;
}

.sign-up-form {
    padding-left: 25%;
    padding-right: 25%;
    text-align: left;

    @media (max-width: $mobile-width) {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.sign-up-form-button {
    margin-top: 3%;
    float: right;
}