.staff-form {
    margin-bottom: 15%;
}

.image-thumbnail {
    width: 35vh;
    height: auto;
}

.color-picker-wrapper {
    position: relative;
}

.color-picker {
    position: absolute;
    left: 0;

    z-index: 99999;
}

.color-picker-left {
    display: inline;
    float: left;
    margin-right: 5%;
}

.theme-list {
    height: 7.5vh;
}
