.staff-form {
    margin-bottom: 15%;
}

.image-thumbnail {
    width: 35vh;
    height: auto;
}

.color-picker-wrapper {
    position: relative;
}

.color-picker {
    position: absolute;

    z-index: 99999;
}
