$purple-primary: #470a66;

$button-font-size: 24px;
$button-font-size--dense: 20px;
$button-font-family: 'Saira Condensed', sans-serif;
$link-color: #4c4c4c;
$link-hover-color: #999999;

$mdc-theme-primary: #00427c;
$mdc-theme-secondary: #00427c;

.mdc-button--dense {
    height: 35px;

    font-size: $button-font-size--dense;
}

.mdc-snackbar {
    z-index: 9999;
}

.mdc-list-item {
    position: relative;
    
    cursor: initial;
}

.mdc-list-item:hover {
    background-color: #f2f2f2
}

.mdc-list-item__meta:hover {
    cursor: pointer;
}

.mdc-tab-bar-header {
    overflow-x: scroll;
}

.mdc-toolbar__row {
    height: 100%;
}

@import '@material/theme/mdc-theme';
